{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}My amazing site{% endblock %}</title>
		{% include 'employee_management/subpages/css.html' %}
		
    </head>
	
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			{% include 'employee_management/subpages/header.html' %}
			
			{% include 'employee_management/subpages/sidebar.html' %}
			<!-- Page Wrapper -->
            {% block content %}
            {% endblock %}
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		{% include 'employee_management/subpages/js.html' %}
		
		
    </body>
</html>