{% load static %}
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'employee_management/assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'employee_management/assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'employee_management/assets/css/font-awesome.min.css' %}">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'employee_management/assets/css/line-awesome.min.css' %}">
		
		<!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static 'employee_management/assets/css/dataTables.bootstrap4.min.css' %}">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'employee_management/assets/css/select2.min.css' %}">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{% static 'employee_management/assets/css/bootstrap-datetimepicker.min.css' %}">


		<!-- Summernote CSS -->
		<link rel="stylesheet" href="{% static 'employee_management/assets/plugins/summernote/dist/summernote-bs4.css' %}">
		
		<!-- Chart CSS -->
		<link rel="stylesheet" href="{% static 'employee_management/assets/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'employee_management/assets/css/style.css' %}">


		